<%- model_class = Project -%>
<div class="page-header">
  <h1><%= @project.name %></h1>
</div>

<div class="tabbable">

  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab_backlog" data-toggle="tab">Backlogs</a></li>
    <li><a href="#tab_sprints" data-toggle="tab">Sprints</a></li>
    <li><a href="#tab_members" data-toggle="tab">Membros do time</a></li>
  </ul>

  <!-- tabs -->
  <div class="tab-content">
    
    <!-- backlog -->
    <div class="tab-pane active" id="tab_backlog">
      <%= render template: 'backlogs/index' %>
      <%= link_to_modal "Adicionar backlog", new_project_backlog_path(@project.id), :class => "btn btn-primary"%>
    </div>
    
    <!-- sprints -->
    <div class="tab-pane" id="tab_sprints">
      <p>Sprints</p>
    </div>

    <!-- members -->
    <div class="tab-pane" id="tab_members">
      <p>Membros do time</p>
    </div>
  
  </div>

</div>

<!-- modal create backlog -->
<div id="create-backlog" style="display: none;">
  <%= render template: 'backlogs/new' %>
</div>
